@import url("./styles/variable.css");
@import url("./styles/hero.css");
@import url("./styles/trusted.css");
@import url("./styles/products.css");
@import url("./styles/testimonial.css");
@import url("./styles/help.css");
@import url("./styles/footer.css");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > nav {
  display: flex;
  gap: 60px;
}

.navbar > nav > a {
  color: var(--heading-color);
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.navbar > nav > a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: var(--heading-color);
  border-radius: 2px;
}

@media (max-width: 768px) {
  .container {
    padding: 12px;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar nav {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  .navbar nav.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
