.section-products {
  padding: 40px 0px;
}
.section-products h1 {
  color: var(--heading-color);
}
.subtitle {
  color: var(--subtitle-color);
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.card {
  border-radius: 20px;
}
.card img {
  width: 100%;
  border-radius: 16px;
}

.card.large {
  grid-row: span 2;
}

.meta {
  font-size: 12px;
  color: var(--subtitle-color);
  margin: 12px 0;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: var(--heading-color);
}
.desc {
  font-size: 14px;
  color: var(--subtitle-color);
  margin-top: 8px;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .section-products h1,
  .section-products p {
    text-align: center;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .card.large {
    grid-row: auto;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
