.section-trusted {
  background-color: rgba(112, 111, 229, 0.05);
  padding: 60px 0px;
}
.trusted {
  text-align: center;
}
.trusted > h2 {
  font-weight: 600;
  color: var(--heading-color);
}
.list-trusted {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 20px;
  margin-top: 40px;
}

@media (max-width: 900px) {
  .list-trusted {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin-top: 40px;
  }
}
